---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import XbetButton from "../components/XbetButton.astro";
import LbetButton from "../components/LbetButton.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Mobile Application for Sports Betting on Android and iOS">
    <Header />
    <main
        class="flex flex-col mt-32 gap-4 w-full justify-start items-start max-w-4xl"
    >
        <h2 class="text-lg font-bold text-neutral-100">Welcome to MorocBet</h2>
        <p class="text-neutral-300">
            MorocBet is a platform that provides you with the best betting tips
            and predictions for all your favorite sports. We have a team of
            experts who analyze the latest trends and statistics to help you
            make informed decisions when placing your bets. Whether you're a
            seasoned bettor or just getting started, MorocBet has something for
            everyone. So why wait? Start winning today with MorocBet!
        </p>
        <div class="mt-6 flex flex-wrap gap-x-3 gap-y-3">
            <LbetButton> install the Linebet app </LbetButton>

            <XbetButton> install the Xbet app </XbetButton>
        </div>
    </main>
    <section
        class="w-full flex flex-col gap-6 mt-10 justify-start items-start max-w-4xl"
    >
        <article
            aria-label="1xbet-why-choose"
            class="flex flex-col justify-start items-start gap-4"
        >
            <img
                src="/images/xbet.webp"
                alt="1xbet"
                class="w-full rounded-lg"
            />
            <h2 class="text-white text-lg font-semibold">Why Choose 1xbet?</h2>
            <p class="text-neutral-300">
                1xbet is one of the most popular online betting platforms in the
                world. With a wide range of sports and betting options, 1xbet
                offers something for everyone. Whether you're a fan of football,
                basketball, tennis, or any other sport, you'll find plenty of
                betting options at 1xbet. Plus, with competitive odds and a
                user-friendly interface, 1xbet makes it easy to place your bets
                and start winning big. So why wait? Sign up with 1xbet today and
                start winning!
            </p>
            <a
             class=" underline-offset-1 capitalize underline text-sky-400"
                href="https://refpa7921972.top/L?tag=d_1625031m_1573c_&site=1625031&ad=1573"
            >
            Install the Xbet app
            </a>
        </article>

        <article
            aria-label="1xbet-why-choose"
            class="flex flex-col justify-start items-start gap-4"
        >
            <div class="w-full overflow-hidden max-h-52">
                <img
                    src="/images/lbet.webp"
                    alt="linebet"
                    class="w-full object-cover rounded-lg"
                />
            </div>
            <h2 class="text-white text-lg font-semibold">
                Why Choose linebet?
            </h2>
            <p class="text-neutral-300">
                Linebet is one of the most popular online betting platforms in
                the world. With a wide range of sports and betting options,
                Linebet offers something for everyone. Whether you're a fan of
                football, basketball, tennis, or any other sport, you'll find
                plenty of betting options at Linebet. Plus, with competitive
                odds and a user-friendly interface, Linebet makes it easy to
                place your bets and start winning big. So why wait? Sign up with
                Linebet today and start winning!
            </p>

            <a
            class=" underline-offset-1 capitalize underline text-sky-400"
               href="https://linebet.com/en?tag=d_3075533m_22611c_"
           >
           Install the Linebet app
           </a>
        </article>
    </section>
    <Footer />
</Layout>

<script is:inline>
    const getThemePreference = () => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "dark";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains("dark");
            localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
        });
    }
</script>
