---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import XbetButton from "../components/XbetButton.astro";
import LbetButton from "../components/LbetButton.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Application mobile de paris sportifs sur Android et iOS">
    <Header />
    <main
        class="flex flex-col mt-32 gap-4 w-full justify-start items-start max-w-4xl"
    >
        <h2 class="text-lg font-bold text-neutral-100">Bienvenue sur MorocBet</h2>
        <p class="text-neutral-300">
            MorocBet est une plateforme qui vous fournit les meilleurs conseils et prédictions de paris pour tous vos sports préférés. Nous avons une équipe d'experts qui analysent les dernières tendances et statistiques pour vous aider à prendre des décisions éclairées lorsque vous placez vos paris. Que vous soyez un parieur chevronné ou que vous débutiez, MorocBet a quelque chose pour tout le monde. Alors pourquoi attendre ? Commencez à gagner dès aujourd'hui avec MorocBet !
        </p>
        <div class="mt-6 flex flex-wrap gap-x-3 gap-y-3">
            <LbetButton> installer l'application Linebet </LbetButton>

            <XbetButton> installer l'application 1xbet </XbetButton>
        </div>
    </main>
    <section
        class="w-full flex flex-col gap-6 mt-10 justify-start items-start max-w-4xl"
    >
        <article
            aria-label="1xbet-why-choose"
            class="flex flex-col justify-start items-start gap-4"
        >
            <img
                src="/images/xbet.webp"
                alt="1xbet"
                class="w-full rounded-lg"
            />
            <h2 class="text-white text-lg font-semibold">Pourquoi choisir 1xbet ?</h2>
            <p class="text-neutral-300">
                1xbet est l'une des plateformes de paris en ligne les plus populaires au monde. Avec une large gamme de sports et d'options de paris, 1xbet offre quelque chose pour tout le monde. Que vous soyez fan de football, de basketball, de tennis ou de tout autre sport, vous trouverez de nombreuses options de paris chez 1xbet. De plus, avec des cotes compétitives et une interface conviviale, 1xbet facilite la prise de paris et les gains importants. Alors pourquoi attendre ? Inscrivez-vous dès aujourd'hui avec 1xbet et commencez à gagner !
            </p>
            <a
             class=" underline-offset-1 capitalize underline text-sky-400"
                href="https://refpa7921972.top/L?tag=d_1625031m_1573c_&site=1625031&ad=1573"
            >
            Installer l'application Xbet
            </a>
        </article>

        <article
            aria-label="1xbet-why-choose"
            class="flex flex-col justify-start items-start gap-4"
        >
            <div class="w-full overflow-hidden max-h-52">
                <img
                    src="/images/lbet.webp"
                    alt="linebet"
                    class="w-full object-cover rounded-lg"
                />
            </div>
            <h2 class="text-white text-lg font-semibold">
                Pourquoi choisir Linebet ?
            </h2>
            <p class="text-neutral-300">
                Linebet est l'une des plateformes de paris en ligne les plus populaires au monde. Avec une large gamme de sports et d'options de paris, Linebet offre quelque chose pour tout le monde. Que vous soyez fan de football, de basketball, de tennis ou de tout autre sport, vous trouverez de nombreuses options de paris chez Linebet. De plus, avec des cotes compétitives et une interface conviviale, Linebet facilite la prise de paris et les gains importants. Alors pourquoi attendre ? Inscrivez-vous dès aujourd'hui avec Linebet et commencez à gagner !
            </p>

            <a
            class=" underline-offset-1 capitalize underline text-sky-400"
               href="https://linebet.com/en?tag=d_3075533m_22611c_"
           >
           Installer l'application Linebet
           </a>
        </article>
    </section>
    <Footer />
</Layout>

<script is:inline>
    const getThemePreference = () => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "dark";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains("dark");
            localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
        });
    }
</script>
