<footer
    class="w-full max-w-4xl grid grid-cols-2 mt-5 border-t py-2 border-sky-300/15 gap-3"
>
    <div class="flex flex-col gap-3 justify-start items-start">
        <div class="flex flex-col gap-2">
            <a aria-label="morocebet-titel" href="/">
                <h3 class="text-white text-lg font-semibold">MorocBet</h3>
            </a>
            <p class="text-neutral-300">
                MorocBet - Votre source de conseils et de prédictions pour les paris. Commencez à gagner dès aujourd'hui !
            </p>
            <a
                href="https://wa.me/212669461148"
                class="underline-offset-1 capitalize underline text-sky-400"
            >
                <p>+212 669-461148</p>
            </a>
            <a
            class="underline-offset-1 capitalize underline text-sky-400"
            href="https://morocbet.com/"
            >
                Lien vers notre site
            </a>
        </div>
    </div>
    <div class="flex flex-col gap-3 justify-start items-start">
        <div class="flex flex-col gap-2">
            <h3 class="text-white text-lg font-semibold">Liens vers les applications</h3>
            <p class="text-neutral-300">
                Installez les meilleures applications de paris et commencez à gagner dès aujourd'hui avec MorocBet !
            </p>
            <a
                class="underline-offset-1 capitalize underline text-sky-400"
                aria-label="morocebet-titel"
                href="https://refpa7921972.top/L?tag=d_1625031m_1573c_&site=1625031&ad=1573"
            >
                Installez l'application 1xbet
            </a>

            <a
                class="underline-offset-1 capitalize underline text-sky-400"
                aria-label="morocebet-titel"
                href="https://linebet.com/en?tag=d_3075533m_22611c_"
            >
                Installez l'application Linebet
            </a>
        </div>
    </div>
</footer>
