<footer
    class="w-full max-w-4xl grid grid-cols-2 mt-5 border-t py-2 border-sky-300/15 gap-3"
>
    <div class="flex flex-col gap-3 justify-start items-start">
        <div class="flex flex-col gap-2">
            <a aria-label="morocebet-titel" href="/">
                <h3 class="text-white text-lg font-semibold">MorocBet</h3>
            </a>
            <p class="text-neutral-300">
                MorocBet - Your betting tips and predictions source. Start
                winning today!
            </p>

            <a aria-label="morocebet-telegram" href="https://t.me/matchsogoro1">
                <p class="underline-offset-1 capitalize underline text-sky-400">
                    Join our Telegram channel
                </p>
            </a>
            <a
                href="https://wa.me/212669461148"
                class="underline-offset-1 capitalize underline text-sky-400"
            >
                <p>+212 669-461148</p>
            </a>
        </div>
    </div>
    <div class="flex flex-col gap-3 justify-start items-start">
        <div class="flex flex-col gap-2">
            <h3 class="text-white text-lg font-semibold">Links to the apps</h3>
            <p class="text-neutral-300">
                Install the Best Betting Apps and Start Winning Today with
                MorocBet!
            </p>
            <a
                class="underline-offset-1 capitalize underline text-sky-400"
                aria-label="morocebet-titel"
                href="https://refpa7921972.top/L?tag=d_1625031m_1573c_&site=1625031&ad=1573"
            >
                Install the Xbet app
            </a>

            <a
                class="underline-offset-1 capitalize underline text-sky-400"
                aria-label="morocebet-titel"
                href="https://linebet.com/en?tag=d_3075533m_22611c_"
            >
                Install the Linebet app
            </a>
        </div>
    </div>
</footer>
