---

---
<a
href="https://linebet.com/en?tag=d_3075533m_22611c_"
>
<button
    class="bg-green-600 border border-green-300/40 rounded-full flex justify-center items-center gap-1 px-4 py-1 text-white font-semibold hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="20"
        height="20"
        fill="none"
    >
        <path
            d="M6 20L18 20"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"></path>
        <path
            d="M12 16V4"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        <path
            d="M16 12C16 12 13.054 16 12 16C10.9459 16 8 12 8 12"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
    </svg>
    <slot />
</button>
</a>

