---
import "@fontsource-variable/onest";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon"  href="/icon.png" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="MorocBet is a platform that provides you with the best betting tips and predictions for all your favorite sports. We have a team of experts who analyze the latest trends and statistics to help you make informed decisions when placing your bets. Whether you're a seasoned bettor or just getting started, MorocBet has something for everyone. So why wait? Start winning today with MorocBet!"
        />
        <meta
            name="keywords"
            content="MorocBet, sports betting, betting tips, predictions, sports, betting, tips, predictions, expert, analysis, trends, statistics, informed decisions, bets, bettor, winning, Linebet, Xbet, app, mobile, application, Android, iOS"
        />
        <title>{title}</title>
    </head>
    <body
        class="w-full bg-sky-900 flex flex-col justify-start items-center gap-4 p-4 relative min-h-screen"
    >
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }

    body {
        font-family: "Onest Variable", sans-serif;
    }
    .bg {
        background-color: rgba(119, 198, 137, 0.3);
    }
</style>
