---
import "@fontsource-variable/onest";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon"  href="/icon.png" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="MorocBet est une plateforme qui vous fournit les meilleurs conseils et prédictions de paris pour tous vos sports préférés. Nous avons une équipe d'experts qui analysent les dernières tendances et statistiques pour vous aider à prendre des décisions éclairées lorsque vous placez vos paris. Que vous soyez un parieur chevronné ou que vous commenciez tout juste, MorocBet a quelque chose pour tout le monde. Alors pourquoi attendre ? Commencez à gagner dès aujourd'hui avec MorocBet !"
        />
        <meta
            name="keywords"
            content="MorocBet, paris sportifs, conseils de paris, prédictions, sports, paris, conseils, prédictions, expert, analyse, tendances, statistiques, décisions éclairées, paris, parieur, gagnant, Linebet, Xbet, application, mobile, Android, iOS"
        />

        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{title}</title>
    </head>
    <body
        class="w-full bg-sky-900 flex flex-col justify-start items-center gap-4 p-4 relative min-h-screen"
    >
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }

    body {
        font-family: "Onest Variable", sans-serif;
    }
</style>
